.basket-list {
  position: fixed;
  width: 250px;
  background: #ffffff;
  padding: 4px 4px 30px;
  height: 50px;
  border: 1px solid #ededed;
  border-top: none;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: height 0.5s ease;
  right: 20px;
  top: 0;

  em {
    text-align: center;
    display: block;
  }

  ol {
    li {
      padding-bottom: 5px;
      border-bottom: dotted 1px #ededed;
      opacity: 0;
      transition: opacity 1s ease;
      padding: 5px;
      &:hover {
        opacity: 0.5;
      }

      .close {
        font-size: 20px;
        color: #BFBFBF;
        float: right;
        margin-right: 5px;
        cursor: pointer;
        transition: color 0.5s ease;
        &:hover {
          color: #333;
        }
      }
    }
  }
}