.add-product-holder {
  padding: 20px;
}

.select-styles {
  margin-bottom: 10px;
}

.button-styles {
  background-color: #7FBA23;
  transition: background-color 1s ease;
  border: none;
  &:hover {
    background-color: lighten(#7FBA23, 10%);
  }
  &:focus {
    outline: none;
  }
}