.card-holder {
  position: relative;

  .card-control {
    font-size: 40px;
    color: #7FBA23;
    position: absolute;
    z-index: 2;
    top: 50%;
    cursor: pointer;

    &.left {
      left: -20px;
    }

    &.right {
      right: -20px;
    }
  }
}

.card {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ededed;
  padding: 5px 30px;
  h3 {
    text-align: center;
  }
  p {
    text-align: left;
  }
  .desc {
    font-size: 15px;
  }
  .cost {
    font-size: 18px;
    font-weight: bold;
  }
  .button-styles {
    background-color: #7FBA23;
    transition: background-color 1s ease;
    border: none;
    &:hover {
      background-color: lighten(#7FBA23, 10%);
    }
    &:focus {
      outline: none;
    }
  }
}