@import "../../styles/global.scss";

.centred {
  text-align:center;
}

.green-text {
  color:$aogreen;
}

.white-background {
  background: #ffffff;
  padding: 2px;
}

.font {
  @include font-styles(45px);
}

/*
 *  Consolidating CSS classes
 */

.header-styles {
  composes : centred;
  composes : white-background;
  composes : green-text;
}

/*
 *  Consolidating SASS classes
 */

.header-sass {
  @extend .not-bold;
  @extend .large-text;
  @extend .font;
}

.not-bold {
  font-weight: normal;
}

.large-text {
  font-size: 40px;
}